<form>
  <label>Curso</label>
  <input type="text" name="nomeCurso" [(ngModel)]="curso.nomeCurso">
  <br>

  <label>Valor</label>
  <input type="number" name="valorCurso" [(ngModel)]="curso.valorCurso">
  <br>

  <button (click)="cadastro()">cadastrar</button>
  <button (click)="remover()">excluir</button>
  <button (click)="alterar()">alterar</button>

</form>

<table border="1">
  <tr *ngFor="let v of this.vetor" >
    <td>{{v.idCurso}}</td>
    <td>{{v.nomeCurso}}</td>
    <td>{{v.valorCurso}}</td>
    <td><button (click)="this.selecionarCurso(v)">selecionar curso</button></td>
  </tr>
</table>